/*---------------
    SECTION
---------------*/
section {
    padding: 6rem 1rem;
    width: 100%;
}

/*---------------
    LIST
---------------*/
ul {
    list-style: none;
}
li {
    font-size: 0.8rem;
}

/*---------------
    LINK
---------------*/
a {
    text-decoration: none;
}

