/*------------------
    CONTAINER
------------------*/
@mixin MainContainer {
    max-width: 68.75rem;
    margin: auto;
}
@mixin SmallContainer {
    max-width: 43.75rem;
    margin: auto;
}
/*------------------
    SECTIONS
------------------*/
@mixin paddingX {
    padding-right: 1rem;
    padding-left: 1rem;
}
/*------------------
    DISPLAY
------------------*/
@mixin FlexRowBetween {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@mixin FlexColumnBetween {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}
/*------------------
    BUTTON
------------------*/
@mixin ButtonStyle {
    border-radius: 1.25rem;
    padding: .75rem 1.5rem;
    font-weight: 500;
}
@mixin ButtonColorBlu {
    background-color: var(--dodger-blu);
    border: .1rem solid var(--dodger-blu);
    color: var(--white);

    &:hover {
        background-color: var(--burnt-sienna);
        border: .1rem solid var(--burnt-sienna);
    }
}
@mixin ButtonColorBlack {
    background-color: var(--cod-grey);
    border: .1rem solid #78787a8e;
    color: var(--white);

    &:hover {
        background-color: var(--white);
        border: .1rem solid var(--white);
        color: var(--cod-gray);
    }
}
@mixin ButtonColorRed {
    background-color: #e62117;
    border: .1rem solid #e62117;
    color: var(--white);

    &:hover {
        background-color: var(--burnt-sienna);
        border: .1rem solid var(--burnt-sienna);
    }
}
@mixin ButtonPlay {
    color: var(--dodger-blu);
    background-color: var(--white);
    border-radius: 50%;
    padding: 2rem 2.24rem;
    font-size: 1.25rem;
    border: 0;
}
/*------------------
    INPUT
------------------*/
@mixin InputText {
    border-radius: 1.25rem;
    padding: .75rem 1.5rem;
    border: 0;
}
/*------------------
    CARDS
------------------*/
@mixin cardBoxShadow {
    box-shadow: inset 0rem -20rem 3.125rem .3125rem rgba(0,0,0,0.38);
}



