/*------------------
    CONTAINER
------------------*/
@mixin MainContainer {
    max-width: 68.75rem;
    margin: auto;
}
/*------------------
    DISPLAY
------------------*/
@mixin FlexRowBetween {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@mixin FlexColumnBetween {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}
/*------------------
    BUTTON
------------------*/
@mixin ButtonStyle {
    border-radius: 1.25rem;
    padding: .75rem 1.5rem;
}
@mixin ButtonColorBlu {
    background-color: var(--dodger-blu);
    border: .1rem solid var(--dodger-blu);
    color: var(--white);
}
@mixin ButtonColorBlack {
    background-color: var(--cod-grey);
    border: .1rem solid #78787a8e;
    color: var(--white);
}
@mixin ButtonPlay {
    color: var(--dodger-blu);
    background-color: var(--white);
    border-radius: 50%;
    padding: 2rem 2.24rem;
    font-size: 1.25rem;
    border: .1rem solid var(--white);
}


