:root {
/*-----------------
    COLORS CUBE
-----------------*/
--white: #ffffff;
--cod-gray: #060606;
--windsor: #6b0c7a;
--monza: #bc0428;
--silver: #bcbcbc;
--dodger-blu: #4154fe;
--jumbo: #78787a;
--astronaut-blue: #014461;
--burnt-sienna: #ec5a57;
--verdun-green: #504e00;
/*-----------------
    COLORS MEDIAN CUT
-----------------*/
--oriental-pink: #bc8b96;
--cinder: #0d0b12;
--cosmic: #683551;
--daisy-bush: #4321aa;
--sea-nymph: #709e9c;
/*-----------------
    COLORS MATERIAL DESIGN
-----------------*/
--shiraz: #a00644;
--mongoose: #b6967e;
--blue-gem: #4613a0;
--cocoa-brown: #352428;
--royal-blue: #4257ef;
}

